@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

:root {
  --accent: hsl(39, 70%, 18%);
  --accept: hsl(97, 86%, 36%);
  --danger: hsl(14, 91%, 54%);
  --radius: calc(1rem / 4);
}

%base-background {
  background-color: hsl(39, 77%, 83%);
  background-image: radial-gradient(hsl(39, 77%, 83%) 0%, hsl(300, 100%, 99%) 90%);
}

%button {
  padding: .5rem 1rem;
  background-color: white;
  border-style: solid;
  border-color: var(--accent);
  border-width: 2px;
  border-radius: var(--radius);
  font-size: 1.5rem;
}

%full-page {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

#app {
  font-family: 'Boogaloo', cursive;
}