@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

:root {
  --accent: hsl(214, 100%, 22%);
  --accept: hsl(97, 86%, 36%);
  --danger: hsl(14, 91%, 54%);
}

#app {
  font-family: 'Boogaloo', cursive;
}